#sk_overview .image-accessories {
  width: 452px;
  height: 330px;
  background-size: 452px 330px;
  background-repeat: no-repeat;
  background-image: url("../images/accessories_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-accessories {
    background-image: url("../images/accessories_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-accessories {
    width: 327px;
    height: 319px;
    background-size: 327px 319px;
    background-repeat: no-repeat;
    background-image: url("../images/accessories_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-accessories {
    background-image: url("../images/accessories_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-accessories {
    width: 320px;
    height: 313px;
    background-size: 320px 313px;
    background-repeat: no-repeat;
    background-image: url("../images/accessories_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-accessories {
    background-image: url("../images/accessories_small_2x.jpg");
  }
}

#sk_overview .image-accessories-title {
  width: 486px;
  height: 120px;
  background-size: 486px 120px;
  background-repeat: no-repeat;
  background-image: url("../images/accessories_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-accessories-title {
    background-image: url("../images/accessories_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-accessories-title {
    width: 343px;
    height: 65px;
    background-size: 343px 65px;
    background-repeat: no-repeat;
    background-image: url("../images/accessories_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-accessories-title {
    background-image: url("../images/accessories_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-accessories-title {
    width: 280px;
    height: 90px;
    background-size: 280px 90px;
    background-repeat: no-repeat;
    background-image: url("../images/accessories_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-accessories-title {
    background-image: url("../images/accessories_title_small_2x.png");
  }
}

#sk_overview .image-applecare {
  width: 264px;
  height: 260px;
  background-size: 264px 260px;
  background-repeat: no-repeat;
  background-image: url("../images/applecare_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-applecare {
    background-image: url("../images/applecare_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-applecare {
    width: 230px;
    height: 228px;
    background-size: 230px 228px;
    background-repeat: no-repeat;
    background-image: url("../images/applecare_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-applecare {
    background-image: url("../images/applecare_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-applecare {
    width: 230px;
    height: 228px;
    background-size: 230px 228px;
    background-repeat: no-repeat;
    background-image: url("../images/applecare_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-applecare {
    background-image: url("../images/applecare_small_2x.jpg");
  }
}

#sk_overview .image-applecare-title {
  width: 486px;
  height: 121px;
  background-size: 486px 121px;
  background-repeat: no-repeat;
  background-image: url("../images/applecare_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-applecare-title {
    background-image: url("../images/applecare_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-applecare-title {
    width: 342px;
    height: 100px;
    background-size: 342px 100px;
    background-repeat: no-repeat;
    background-image: url("../images/applecare_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-applecare-title {
    background-image: url("../images/applecare_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-applecare-title {
    width: 280px;
    height: 92px;
    background-size: 280px 92px;
    background-repeat: no-repeat;
    background-image: url("../images/applecare_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-applecare-title {
    background-image: url("../images/applecare_title_small_2x.png");
  }
}

#sk_overview .image-arcade {
  width: 439px;
  height: 306px;
  background-size: 439px 306px;
  background-repeat: no-repeat;
  background-image: url("../images/arcade_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-arcade {
    background-image: url("../images/arcade_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-arcade {
    width: 368px;
    height: 250px;
    background-size: 368px 250px;
    background-repeat: no-repeat;
    background-image: url("../images/arcade_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-arcade {
    background-image: url("../images/arcade_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-arcade {
    width: 320px;
    height: 257px;
    background-size: 320px 257px;
    background-repeat: no-repeat;
    background-image: url("../images/arcade_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-arcade {
    background-image: url("../images/arcade_small_2x.jpg");
  }
}

#sk_overview .image-arcade-title {
  width: 486px;
  height: 122px;
  background-size: 486px 122px;
  background-repeat: no-repeat;
  background-image: url("../images/arcade_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-arcade-title {
    background-image: url("../images/arcade_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-arcade-title {
    width: 342px;
    height: 101px;
    background-size: 342px 101px;
    background-repeat: no-repeat;
    background-image: url("../images/arcade_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-arcade-title {
    background-image: url("../images/arcade_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-arcade-title {
    width: 280px;
    height: 91px;
    background-size: 280px 91px;
    background-repeat: no-repeat;
    background-image: url("../images/arcade_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-arcade-title {
    background-image: url("../images/arcade_title_small_2x.png");
  }
}

#sk_overview .image-atv {
  width: 269px;
  height: 194px;
  background-size: 269px 194px;
  background-repeat: no-repeat;
  background-image: url("../images/atv_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-atv {
    background-image: url("../images/atv_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-atv {
    width: 263px;
    height: 190px;
    background-size: 263px 190px;
    background-repeat: no-repeat;
    background-image: url("../images/atv_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-atv {
    background-image: url("../images/atv_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-atv {
    width: 280px;
    height: 202px;
    background-size: 280px 202px;
    background-repeat: no-repeat;
    background-image: url("../images/atv_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-atv {
    background-image: url("../images/atv_small_2x.jpg");
  }
}

#sk_overview .image-atv-title {
  width: 486px;
  height: 124px;
  background-size: 486px 124px;
  background-repeat: no-repeat;
  background-image: url("../images/atv_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-atv-title {
    background-image: url("../images/atv_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-atv-title {
    width: 399px;
    height: 141px;
    background-size: 399px 141px;
    background-repeat: no-repeat;
    background-image: url("../images/atv_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-atv-title {
    background-image: url("../images/atv_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-atv-title {
    width: 280px;
    height: 130px;
    background-size: 280px 130px;
    background-repeat: no-repeat;
    background-image: url("../images/atv_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-atv-title {
    background-image: url("../images/atv_title_small_2x.png");
  }
}

#sk_overview .image-cameras {
  width: 997px;
  height: 823px;
  background-size: 997px 823px;
  background-repeat: no-repeat;
  background-image: url("../images/cameras_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-cameras {
    background-image: url("../images/cameras_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-cameras {
    width: 534px;
    height: 441px;
    background-size: 534px 441px;
    background-repeat: no-repeat;
    background-image: url("../images/cameras_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-cameras {
    background-image: url("../images/cameras_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-cameras {
    width: 463px;
    height: 270px;
    background-size: 463px 270px;
    background-repeat: no-repeat;
    background-image: url("../images/cameras_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-cameras {
    background-image: url("../images/cameras_small_2x.jpg");
  }
}

#sk_overview .image-cameras-specs-title {
  width: 405px;
  height: 120px;
  background-size: 405px 120px;
  background-repeat: no-repeat;
  background-image: url("../images/cameras_specs_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-cameras-specs-title {
    background-image: url("../images/cameras_specs_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-cameras-specs-title {
    width: 342px;
    height: 105px;
    background-size: 342px 105px;
    background-repeat: no-repeat;
    background-image: url("../images/cameras_specs_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-cameras-specs-title {
    background-image: url("../images/cameras_specs_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-cameras-specs-title {
    width: 280px;
    height: 106px;
    background-size: 280px 106px;
    background-repeat: no-repeat;
    background-image: url("../images/cameras_specs_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-cameras-specs-title {
    background-image: url("../images/cameras_specs_title_small_2x.png");
  }
}

#sk_overview .image-cameras-title {
  width: 405px;
  height: 142px;
  background-size: 405px 142px;
  background-repeat: no-repeat;
  background-image: url("../images/cameras_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-cameras-title {
    background-image: url("../images/cameras_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-cameras-title {
    width: 342px;
    height: 118px;
    background-size: 342px 118px;
    background-repeat: no-repeat;
    background-image: url("../images/cameras_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-cameras-title {
    background-image: url("../images/cameras_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-cameras-title {
    width: 280px;
    height: 100px;
    background-size: 280px 100px;
    background-repeat: no-repeat;
    background-image: url("../images/cameras_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-cameras-title {
    background-image: url("../images/cameras_title_small_2x.png");
  }
}

#sk_overview .image-hero {
  width: 978px;
  height: 378px;
  background-size: 978px 378px;
  background-repeat: no-repeat;
  background-image: url("../images/hero_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-hero {
    background-image: url("../images/hero_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-hero {
    width: 687px;
    height: 271px;
    background-size: 687px 271px;
    background-repeat: no-repeat;
    background-image: url("../images/hero_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-hero {
    background-image: url("../images/hero_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-hero {
    width: 285px;
    height: 228px;
    background-size: 285px 228px;
    background-repeat: no-repeat;
    background-image: url("../images/hero_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-hero {
    background-image: url("../images/hero_small_2x.jpg");
  }
}

#sk_overview .image-hero-logo {
  width: 155px;
  height: 29px;
  background-size: 155px 29px;
  background-repeat: no-repeat;
  background-image: url("../images/hero_logo_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-hero-logo {
    background-image: url("../images/hero_logo_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-hero-logo {
    width: 116px;
    height: 22px;
    background-size: 116px 22px;
    background-repeat: no-repeat;
    background-image: url("../images/hero_logo_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-hero-logo {
    background-image: url("../images/hero_logo_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-hero-logo {
    width: 87px;
    height: 17px;
    background-size: 87px 17px;
    background-repeat: no-repeat;
    background-image: url("../images/hero_logo_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-hero-logo {
    background-image: url("../images/hero_logo_small_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-hero-side {
    width: 276px;
    height: 214px;
    background-size: 276px 214px;
    background-repeat: no-repeat;
    background-image: url("../images/hero_side_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-hero-side {
    background-image: url("../images/hero_side_small_2x.jpg");
  }
}

#sk_overview .image-hero-title {
  width: 972px;
  height: 155px;
  background-size: 972px 155px;
  background-repeat: no-repeat;
  background-image: url("../images/hero_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-hero-title {
    background-image: url("../images/hero_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-hero-title {
    width: 684px;
    height: 125px;
    background-size: 684px 125px;
    background-repeat: no-repeat;
    background-image: url("../images/hero_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-hero-title {
    background-image: url("../images/hero_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-hero-title {
    width: 280px;
    height: 67px;
    background-size: 280px 67px;
    background-repeat: no-repeat;
    background-image: url("../images/hero_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-hero-title {
    background-image: url("../images/hero_title_small_2x.png");
  }
}

#sk_overview .image-magic {
  width: 575px;
  height: 515px;
  background-size: 575px 515px;
  background-repeat: no-repeat;
  background-image: url("../images/magic_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-magic {
    background-image: url("../images/magic_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-magic {
    width: 452px;
    height: 390px;
    background-size: 452px 390px;
    background-repeat: no-repeat;
    background-image: url("../images/magic_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-magic {
    background-image: url("../images/magic_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-magic {
    width: 280px;
    height: 240px;
    background-size: 280px 240px;
    background-repeat: no-repeat;
    background-image: url("../images/magic_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-magic {
    background-image: url("../images/magic_small_2x.jpg");
  }
}

#sk_overview .image-magic-title {
  width: 405px;
  height: 193px;
  background-size: 405px 193px;
  background-repeat: no-repeat;
  background-image: url("../images/magic_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-magic-title {
    background-image: url("../images/magic_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-magic-title {
    width: 342px;
    height: 163px;
    background-size: 342px 163px;
    background-repeat: no-repeat;
    background-image: url("../images/magic_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-magic-title {
    background-image: url("../images/magic_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-magic-title {
    width: 280px;
    height: 138px;
    background-size: 280px 138px;
    background-repeat: no-repeat;
    background-image: url("../images/magic_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-magic-title {
    background-image: url("../images/magic_title_small_2x.png");
  }
}

#sk_overview .image-pencil {
  width: 1127px;
  height: 1090px;
  background-size: 1127px 1090px;
  background-repeat: no-repeat;
  background-image: url("../images/pencil_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-pencil {
    background-image: url("../images/pencil_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-pencil {
    width: 759px;
    height: 663px;
    background-size: 759px 663px;
    background-repeat: no-repeat;
    background-image: url("../images/pencil_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-pencil {
    background-image: url("../images/pencil_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-pencil {
    width: 510px;
    height: 454px;
    background-size: 510px 454px;
    background-repeat: no-repeat;
    background-image: url("../images/pencil_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-pencil {
    background-image: url("../images/pencil_small_2x.jpg");
  }
}

#sk_overview .image-pencil-title {
  width: 567px;
  height: 87px;
  background-size: 567px 87px;
  background-repeat: no-repeat;
  background-image: url("../images/pencil_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-pencil-title {
    background-image: url("../images/pencil_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-pencil-title {
    width: 285px;
    height: 121px;
    background-size: 285px 121px;
    background-repeat: no-repeat;
    background-image: url("../images/pencil_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-pencil-title {
    background-image: url("../images/pencil_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-pencil-title {
    width: 280px;
    height: 101px;
    background-size: 280px 101px;
    background-repeat: no-repeat;
    background-image: url("../images/pencil_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-pencil-title {
    background-image: url("../images/pencil_title_small_2x.png");
  }
}

#sk_overview .image-performance {
  width: 975px;
  height: 975px;
  background-size: 975px 975px;
  background-repeat: no-repeat;
  background-image: url("../images/performance_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-performance {
    background-image: url("../images/performance_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-performance {
    width: 441px;
    height: 440px;
    background-size: 441px 440px;
    background-repeat: no-repeat;
    background-image: url("../images/performance_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-performance {
    background-image: url("../images/performance_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-performance {
    width: 613px;
    height: 225px;
    background-size: 613px 225px;
    background-repeat: no-repeat;
    background-image: url("../images/performance_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-performance {
    background-image: url("../images/performance_small_2x.jpg");
  }
}

#sk_overview .image-performance-specs-title {
  width: 405px;
  height: 20px;
  background-size: 405px 20px;
  background-repeat: no-repeat;
  background-image: url("../images/performance_specs_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-performance-specs-title {
    background-image: url("../images/performance_specs_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-performance-specs-title {
    width: 342px;
    height: 17px;
    background-size: 342px 17px;
    background-repeat: no-repeat;
    background-image: url("../images/performance_specs_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-performance-specs-title {
    background-image: url("../images/performance_specs_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-performance-specs-title {
    width: 280px;
    height: 43px;
    background-size: 280px 43px;
    background-repeat: no-repeat;
    background-image: url("../images/performance_specs_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-performance-specs-title {
    background-image: url("../images/performance_specs_title_small_2x.png");
  }
}

#sk_overview .image-performance-title {
  width: 325px;
  height: 142px;
  background-size: 325px 142px;
  background-repeat: no-repeat;
  background-image: url("../images/performance_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-performance-title {
    background-image: url("../images/performance_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-performance-title {
    width: 405px;
    height: 120px;
    background-size: 405px 120px;
    background-repeat: no-repeat;
    background-image: url("../images/performance_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-performance-title {
    background-image: url("../images/performance_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-performance-title {
    width: 280px;
    height: 101px;
    background-size: 280px 101px;
    background-repeat: no-repeat;
    background-image: url("../images/performance_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-performance-title {
    background-image: url("../images/performance_title_small_2x.png");
  }
}

#sk_overview .image-portability {
  width: 1248px;
  height: 217px;
  background-size: 1248px 217px;
  background-repeat: no-repeat;
  background-image: url("../images/portability_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-portability {
    background-image: url("../images/portability_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-portability {
    width: 1068px;
    height: 185px;
    background-size: 1068px 185px;
    background-repeat: no-repeat;
    background-image: url("../images/portability_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-portability {
    background-image: url("../images/portability_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-portability {
    width: 441px;
    height: 76px;
    background-size: 441px 76px;
    background-repeat: no-repeat;
    background-image: url("../images/portability_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-portability {
    background-image: url("../images/portability_small_2x.jpg");
  }
}

#sk_overview .image-portability-specs-title {
  width: 648px;
  height: 22px;
  background-size: 648px 22px;
  background-repeat: no-repeat;
  background-image: url("../images/portability_specs_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-portability-specs-title {
    background-image: url("../images/portability_specs_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-portability-specs-title {
    width: 570px;
    height: 21px;
    background-size: 570px 21px;
    background-repeat: no-repeat;
    background-image: url("../images/portability_specs_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-portability-specs-title {
    background-image: url("../images/portability_specs_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-portability-specs-title {
    width: 280px;
    height: 45px;
    background-size: 280px 45px;
    background-repeat: no-repeat;
    background-image: url("../images/portability_specs_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-portability-specs-title {
    background-image: url("../images/portability_specs_title_small_2x.png");
  }
}

#sk_overview .image-portability-title {
  width: 972px;
  height: 95px;
  background-size: 972px 95px;
  background-repeat: no-repeat;
  background-image: url("../images/portability_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-portability-title {
    background-image: url("../images/portability_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-portability-title {
    width: 684px;
    height: 77px;
    background-size: 684px 77px;
    background-repeat: no-repeat;
    background-image: url("../images/portability_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-portability-title {
    background-image: url("../images/portability_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-portability-title {
    width: 280px;
    height: 101px;
    background-size: 280px 101px;
    background-repeat: no-repeat;
    background-image: url("../images/portability_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-portability-title {
    background-image: url("../images/portability_title_small_2x.png");
  }
}

#sk_overview .image-retina {
  width: 414px;
  height: 515px;
  background-size: 414px 515px;
  background-repeat: no-repeat;
  background-image: url("../images/retina_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-retina {
    background-image: url("../images/retina_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-retina {
    width: 289px;
    height: 376px;
    background-size: 289px 376px;
    background-repeat: no-repeat;
    background-image: url("../images/retina_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-retina {
    background-image: url("../images/retina_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-retina {
    width: 270px;
    height: 215px;
    background-size: 270px 215px;
    background-repeat: no-repeat;
    background-image: url("../images/retina_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-retina {
    background-image: url("../images/retina_small_2x.jpg");
  }
}

#sk_overview .image-retina-specs-title {
  width: 486px;
  height: 43px;
  background-size: 486px 43px;
  background-repeat: no-repeat;
  background-image: url("../images/retina_specs_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-retina-specs-title {
    background-image: url("../images/retina_specs_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-retina-specs-title {
    width: 342px;
    height: 83px;
    background-size: 342px 83px;
    background-repeat: no-repeat;
    background-image: url("../images/retina_specs_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-retina-specs-title {
    background-image: url("../images/retina_specs_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-retina-specs-title {
    width: 280px;
    height: 80px;
    background-size: 280px 80px;
    background-repeat: no-repeat;
    background-image: url("../images/retina_specs_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-retina-specs-title {
    background-image: url("../images/retina_specs_title_small_2x.png");
  }
}

#sk_overview .image-retina-title {
  width: 486px;
  height: 190px;
  background-size: 486px 190px;
  background-repeat: no-repeat;
  background-image: url("../images/retina_title_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #sk_overview .image-retina-title {
    background-image: url("../images/retina_title_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .image-retina-title {
    width: 342px;
    height: 163px;
    background-size: 342px 163px;
    background-repeat: no-repeat;
    background-image: url("../images/retina_title_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  #sk_overview .image-retina-title {
    background-image: url("../images/retina_title_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .image-retina-title {
    width: 280px;
    height: 138px;
    background-size: 280px 138px;
    background-repeat: no-repeat;
    background-image: url("../images/retina_title_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  #sk_overview .image-retina-title {
    background-image: url("../images/retina_title_small_2x.png");
  }
}

#sk_overview .section-hero {
  padding: 65px 0 85px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-hero {
    padding: 60px 0 45px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-hero {
    padding: 0;
  }
}

#sk_overview .section-hero .copy-wrapper {
  margin-top: 42px;
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-hero .copy-wrapper {
    margin-top: 24px;
    max-width: 280px;
  }
}

#sk_overview .section-hero .sk_button {
  margin-top: 32px;
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-hero .sk_button {
    margin-top: 22px;
  }
}

#sk_overview .section-hero .image-hero,
#sk_overview .section-hero .image-hero-side {
  margin: 63px auto 0;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-hero .image-hero,
  #sk_overview .section-hero .image-hero-side {
    margin: 48px auto 0;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-hero .image-hero,
  #sk_overview .section-hero .image-hero-side {
    margin: 55px auto 40px;
  }
}

#sk_overview .section-hero .image-hero-side {
  margin-top: 20px;
}

#sk_overview .section-hero .image-hero-logo {
  padding-top: 50px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-hero .image-hero-logo {
    padding-top: 42px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-hero .image-hero-logo {
    padding-top: 18px;
  }
}

#sk_overview .section-features .feature {
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-bottom: 10px;
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature {
    padding: 40px 0;
  }
}

#sk_overview .section-features .feature:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature .section-content {
    max-width: 280px;
    margin: auto;
  }
}

#sk_overview .section-features .feature .content-wrapper {
  min-height: 650px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature .content-wrapper {
    min-height: 550px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature .content-wrapper {
    min-height: 300px;
  }
}

#sk_overview .section-features .feature .copy-wrapper {
  z-index: 1;
  padding: 84px 0;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature .copy-wrapper {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature .copy-wrapper {
    padding: 0 0 27px 0;
  }
}

#sk_overview .section-features .feature .copy-wrapper .sk_copy {
  margin-top: 24px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature .copy-wrapper .sk_copy {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature .copy-wrapper .sk_copy {
    margin-top: 22px;
  }
}

#sk_overview .section-features .feature .copy-wrapper .image {
  margin: 44px auto;
}

#sk_overview .section-features .feature .image-wrapper {
  position: relative;
  z-index: 0;
}

#sk_overview .section-features .feature .image-wrapper .image {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature .image-wrapper .image {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: unset;
  }
}

#sk_overview .section-features .feature .image-specs {
  margin-top: 40px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature .image-specs {
    margin-top: 26px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature .image-specs {
    margin-top: 30px;
  }
}

#sk_overview .section-features .feature-retina .image-wrapper .image {
  right: 0;
}

#sk_overview .section-features .feature-performance .image-wrapper .image {
  right: -12px;
  margin-top: 76px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature-performance .image-wrapper .image {
    right: 0;
    margin-top: 0;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-cameras {
    padding-bottom: 0;
  }
}

#sk_overview .section-features .feature-cameras .image-wrapper .image {
  top: unset;
  -webkit-transform: none;
          transform: none;
  margin-top: 74px;
  left: 40px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature-cameras .image-wrapper .image {
    bottom: 0;
    left: 56px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-cameras .image-wrapper .image {
    margin-top: 0;
    left: 44px;
  }
}

#sk_overview .section-features .feature-magic .copy-wrapper {
  padding-bottom: 260px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature-magic .copy-wrapper {
    padding-bottom: 180px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-magic .copy-wrapper {
    padding-bottom: 30px;
  }
}

#sk_overview .section-features .feature-magic .image-wrapper .image {
  -webkit-transform: none;
          transform: none;
  bottom: 0;
  top: unset;
  left: -12px;
  padding-bottom: 44px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature-magic .image-wrapper .image {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-magic .image-wrapper .image {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature-magic .image-wrapper .image {
    left: unset;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-pencil {
    padding-bottom: 0;
  }
}

#sk_overview .section-features .feature-pencil .copy-wrapper {
  padding-bottom: 400px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature-pencil .copy-wrapper {
    padding-bottom: 190px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-pencil .copy-wrapper {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature-pencil .copy-wrapper {
    padding-top: 126px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-pencil .copy-wrapper {
    padding-top: 0px;
  }
}

#sk_overview .section-features .feature-pencil .image-wrapper .image {
  -webkit-transform: translateY(12%);
          transform: translateY(12%);
  bottom: 0;
  top: unset;
  margin-left: -186px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature-pencil .image-wrapper .image {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
    margin-left: -78px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-pencil .image-wrapper .image {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-left: -142px;
    margin-top: -78px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-portability {
    padding-bottom: 0;
  }
}

#sk_overview .section-features .feature-portability .image-title {
  margin: 0 auto;
}

#sk_overview .section-features .feature-portability .image-specs {
  margin-left: auto;
  margin-right: auto;
}

#sk_overview .section-features .feature-portability .copy-wrapper {
  padding-top: 0;
  text-align: center;
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-portability .copy-wrapper {
    text-align: left;
  }
}

#sk_overview .section-features .feature-portability .image-wrapper .image {
  margin-top: -74px;
  margin-left: 164px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-features .feature-portability .image-wrapper .image {
    margin-top: -54px;
    margin-left: 76px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-features .feature-portability .image-wrapper .image {
    margin-top: -5px;
    margin-left: 78px;
  }
}

#sk_overview .section-tiles {
  padding: 48px 0 34px;
}

#sk_overview .section-tiles .content-wrapper {
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  overflow-x: hidden;
  max-width: 1068px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-tiles .content-wrapper {
    max-width: 736px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-tiles .content-wrapper {
    max-width: 320px;
  }
}

#sk_overview .section-tiles .content-wrapper:last-child {
  margin-bottom: 0;
}

#sk_overview .section-tiles .sk_tile {
  min-height: 360px;
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-tiles .sk_tile {
    padding: 46px 0;
  }
}

#sk_overview .section-tiles .tile-copy-wrapper .tile-copy {
  margin-top: 16px;
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-tiles .tile-image-wrapper {
    margin-top: 46px;
  }
}

#sk_overview .section-tiles .tile-image-wrapper .tile-image {
  margin: 0 auto;
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-tiles .tile-accessories {
    padding-bottom: 0;
  }
}

#sk_overview .section-tiles .tile-accessories .tile-image-wrapper {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-tiles .tile-accessories .tile-image {
    margin-left: 41px;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-tiles .tile-accessories .tile-image {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: 0;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-tiles .tile-arcade {
    padding-bottom: 10px;
  }
}

#sk_overview .section-tiles .tile-arcade .tile-image {
  margin-left: 14px;
}

@media only screen and (max-width: 1068px) {
  #sk_overview .section-tiles .tile-arcade .tile-image {
    margin-left: 0;
  }
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-tiles .tile-arcade .tile-image {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

#sk_overview .section-legal {
  padding: 10px 0 50px;
  color: #888888;
}

#sk_overview .section-legal ul {
  list-style-type: none;
  margin: 0;
}

#sk_overview .section-legal ul small {
  font-size: 1em;
}

#sk_overview .section-legal ol {
  list-style-position: outside;
  margin: 0;
  padding: 0 17px 15px;
}

#sk_overview .section-legal li {
  padding-bottom: 10px;
}

#sk_overview .section-legal li a {
  color: #555555;
}

#sk_overview .section-legal li a:hover {
  color: #1d1d1f;
}

#sk_overview .section-legal.theme-dark {
  background-color: black;
}

#sk_overview .section-legal.theme-dark li {
  color: #6e6e73;
}

#sk_overview .section-legal.theme-dark li a {
  color: #a1a1a6;
}

#sk_overview .section-legal.theme-dark li a:hover {
  color: #f5f5f7;
}

@media only screen and (max-width: 734px) {
  #sk_overview .section-legal .section-content {
    max-width: 280px;
    margin: auto;
  }
}

#sk_overview .section-legal .legal-headline {
  color: #555555;
}
